In [2]:
#It's used to find importance of the word in set.
from sklearn.feature_extraction.text import TfidfVectorizer
corpus = [
    "Thor eating pizza,Loki is eating pizza, Ironman ate pizza already",
    "Apple is announcing new iphone tommorow",
    "Tesla is announcing new model-3 tommorow",
    "Google is announcing new pixel-6 tommorow",
    "Microsoft is announcing new surface tommorow",
    "Amazon is announcing new eco-dot tommorow",
    "I am eating biryani and you are eating grapes"
    
]

In [3]:
#let's create the vectorizer and fit the corpus and transform them according 
v = TfidfVectorizer()
v.fit(corpus)
transform_output = v.transform(corpus)

In [4]:
#Let's print the vocabulary
print(v.vocabulary_)

{'thor': 25, 'eating': 10, 'pizza': 22, 'loki': 17, 'is': 16, 'ironman': 15, 'ate': 7, 'already': 0, 'apple': 5, 'announcing': 4, 'new': 20, 'iphone': 14, 'tommorow': 26, 'tesla': 24, 'model': 19, 'google': 12, 'pixel': 21, 'microsoft': 18, 'surface': 23, 'amazon': 2, 'eco': 11, 'dot': 9, 'am': 1, 'biryani': 8, 'and': 3, 'you': 27, 'are': 6, 'grapes': 13}

In [5]:
#Let's print the idf of each word:
all_features_names = v.get_feature_names_out()
for word in all_features_names:
    #let's get the index in the vocabulary
    index = v.vocabulary_.get(word)
    
    #get the score
    idf_score = v.idf_[index]
    
    print(f"{word}:{idf_score}")

already:2.386294361119891
am:2.386294361119891
amazon:2.386294361119891
and:2.386294361119891
announcing:1.2876820724517808
apple:2.386294361119891
are:2.386294361119891
ate:2.386294361119891
biryani:2.386294361119891
dot:2.386294361119891
eating:1.9808292530117262
eco:2.386294361119891
google:2.386294361119891
grapes:2.386294361119891
iphone:2.386294361119891
ironman:2.386294361119891
is:1.1335313926245225
loki:2.386294361119891
microsoft:2.386294361119891
model:2.386294361119891
new:1.2876820724517808
pixel:2.386294361119891
pizza:2.386294361119891
surface:2.386294361119891
tesla:2.386294361119891
thor:2.386294361119891
tommorow:1.2876820724517808
you:2.386294361119891

In [17]:
import pandas as pd
#read the data into a pandas dataframe
df = pd.read_csv("C:/8-textMining/Ecommerce_data.csv")
df = df[['Text','label']]
print(df.shape)

(24001, 2)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_7312\2213266388.py:3: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("C:/8-textMining/Ecommerce_data.csv")

In [18]:
df.head(5)

                                                Text                   label
0  Urban Ladder Eisner Low Back Study-Office Comp...               Household
1  Contrast living Wooden Decorative Box,Painted ...               Household
2  IO Crest SY-PCI40010 PCI RAID Host Controller ...             Electronics
3  ISAKAA Baby Socks from Just Born to 8 Years- P...  Clothing & Accessories
4  Indira Designer Women's Art Mysore Silk Saree ...  Clothing & Accessories

In [19]:
df['label'].value_counts()

Household                   6000
Electronics                 6000
Clothing & Accessories      6000
Books                       5999
 especially Christianity       1
Name: label, dtype: int64

#IMP: balanced data and imbalance data
we can see that there are equal no.of times and perfectly almost all labels occurred
There is no problem of class imbalnace and hence no need to apply balancingÂ technique

In [20]:
#Add the new column which gives a unique number to each of these labels

df['label_num']=df['label'].map({
    'Household':0,
    'Books':1,
    'Electronics':2,
    'CLothing&Accessories':3
})
df.head()

,Text,label,label_num
0,Urban Ladder Eisner Low Back Study-Office Comp...,Household,0.0
1,"Contrast living Wooden Decorative Box,Painted ...",Household,0.0
2,IO Crest SY-PCI40010 PCI RAID Host Controller ...,Electronics,2.0
3,ISAKAA Baby Socks from Just Born to 8 Years- P...,Clothing & Accessories,NaN
4,Indira Designer Women's Art Mysore Silk Saree ...,Clothing & Accessories,NaN

#### Train -Test Split 
Build a model with original text (no pre processing)

In [21]:
df = df.iloc[:,[0,1]]

In [22]:
label_mapping = {
    'Household': 0,
    'Books': 1,
    'Electronics': 2,
    'Clothing & Accessories': 3  # Adjusted to match the exact label names
}

# Map the labels to numeric values
df['label_num'] = df['label'].map(label_mapping)

# Display the DataFrame to confirm mapping
df.head(5)

,Text,label,label_num
0,Urban Ladder Eisner Low Back Study-Office Comp...,Household,0.0
1,"Contrast living Wooden Decorative Box,Painted ...",Household,0.0
2,IO Crest SY-PCI40010 PCI RAID Host Controller ...,Electronics,2.0
3,ISAKAA Baby Socks from Just Born to 8 Years- P...,Clothing & Accessories,3.0
4,Indira Designer Women's Art Mysore Silk Saree ...,Clothing & Accessories,3.0

In [23]:
from sklearn.model_selection import train_test_split

# Drop the 'label_num' column
df = df.drop(columns=['label_num'])

# Split the data
X_train, X_test, y_train, y_test = train_test_split(
    df['Text'],  # Features
    df['label_num'],  # Labels
    test_size=0.2,
    random_state=2022,
    stratify=df['label_num']
)

KeyError: 'label_num'

In [53]:
print(X_train.shape)

print(X_test.shape)

NameError: name 'X_train' is not defined

In [46]:
'''# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

# Load the dataset with low_memory=False to handle dtype issues
df = pd.read_csv("C:/8-textMining/Ecommerce_data.csv", low_memory=False)

# Handle missing values in the target column by dropping rows with NaNs
#df = df.dropna(subset=['label_num'])
'''

'# Import necessary libraries\nimport pandas as pd\nfrom sklearn.model_selection import train_test_split\nfrom sklearn.feature_extraction.text import TfidfVectorizer\n\n# Load the dataset with low_memory=False to handle dtype issues\ndf = pd.read_csv("C:/8-textMining/Ecommerce_data.csv", low_memory=False)\n\n# Handle missing values in the target column by dropping rows with NaNs\n#df = df.dropna(subset=[\'label_num\'])\n'

In [47]:
'''# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(
    df.Text, 
    df.label_num, 
    test_size=0.2, 
    random_state=2022, 
    stratify=df.label_num
)

# Print the shapes of the training and test sets
print("Shape of X_train: ", X_train.shape)
print("Shape of X_test: ", X_test.shape)

# Initialize the TF-IDF vectorizer
v = TfidfVectorizer()

# Fit and transform the training data
X_train_tfidf = v.fit_transform(X_train)

# Print the IDF (Inverse Document Frequency) score for each word in the vocabulary
all_features_names = v.get_feature_names_out()
for word in all_features_names:
    # Get the index in the vocabulary
    index = v.vocabulary_.get(word)
    
    # Get the IDF score
    idf_score = v.idf_[index]
    
    print(f"{word}: {idf_score}")
    '''

'# Split the data into training and testing sets\nX_train, X_test, y_train, y_test = train_test_split(\n    df.Text, \n    df.label_num, \n    test_size=0.2, \n    random_state=2022, \n    stratify=df.label_num\n)\n\n# Print the shapes of the training and test sets\nprint("Shape of X_train: ", X_train.shape)\nprint("Shape of X_test: ", X_test.shape)\n\n# Initialize the TF-IDF vectorizer\nv = TfidfVectorizer()\n\n# Fit and transform the training data\nX_train_tfidf = v.fit_transform(X_train)\n\n# Print the IDF (Inverse Document Frequency) score for each word in the vocabulary\nall_features_names = v.get_feature_names_out()\nfor word in all_features_names:\n    # Get the index in the vocabulary\n    index = v.vocabulary_.get(word)\n    \n    # Get the IDF score\n    idf_score = v.idf_[index]\n    \n    print(f"{word}: {idf_score}")\n    '

In [48]:
print("Sahpe of X_train: ",X_train.shape)
print("Shape of X_test: ",X_test.shape)

NameError: name 'X_train' is not defined

In [49]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report

#1. Create a pipeline object
clf = Pipeline([
    ('vectorizer_tfidf',TfidfVectorizer()),
    ('KNN',KNeighborsClassifier())
])

#2. fit with X_train and y_train
clf.fit(X_train,y_train)

#3. get the predictions for x_test and store it in y_pred
y_pred = clf.predict(X-test)

#4. print the classification report
print(classification_report(y_test,y_pred))

NameError: name 'X_train' is not defined

In [50]:
y_test[:5]

NameError: name 'y_test' is not defined

In [51]:
y_pred[:5]

NameError: name 'y_pred' is not defined